.book_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    padding: 3vh 7vw;
    gap: 6vh 8vw;
}

.grid_item {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    aspect-ratio: 6 / 12;
    align-items: flex-start;
}

@media (prefers-reduced-motion: no-preference) {
    .grid_item {
        opacity: 0;
        -webkit-animation: fading ease-in 0.5s;
        animation: fading ease-in 0.5s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }
}

.home-book-title {
    font-size: 1.1rem;
    color: var(--primary-color);
    margin: 15px 0 0;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space:nowrap;
    max-width: 100%;
}

.category-container {

}

.home-book-author {
    font-size: 1.1rem;
    color: #347d56;
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space:nowrap;
    max-width: 100%;
    margin: 1px 0 0;
}

.home-book-by {
    font-size: 1.1rem;
    color: var(--primary-color);
    font-weight: 500;
    margin: 0 5px 0 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space:nowrap;
    max-width: 100%;
}

.cat-book-cover {
    width: 100%;
    height: 70%;
    position: relative;
    box-shadow: 1px 1px 12px var(--primary-color);
}

.cat-book-cover:hover {
    transform: scale(1.02);
    transition: all 0.5s;
    box-shadow: 0.2rem 0.2rem 3rem var(--primary-color);
}

.cat-book-cover p {
    background-color: var(--secondary-color);
    width: 100%;
    height: 7%;
    position: absolute;
    bottom: 0;
    margin: 0;
    text-align: center;
    padding: 10px 0 10px 0;
    font-weight: bold;
    font-size: 1rem;
    color: var(--primary-color);
}

.add-cart-button {
    border: 0;
    border-radius: 8px;
    color: white;
    background-color: var(--primary-color);
    padding: 10px;
    width: 100%;
    font-size: 1.1rem;
    font-weight:600;
    margin-top: 12px;
    cursor: pointer;
}

.add-cart-button:active {
    transform: scale(0.96);
    box-shadow: inset 0 0 0 3px var(--primary-color-light);
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0.5;

    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(200%);
        opacity: 0.5;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.category-scroll {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    justify-content: center;
    gap: 15px;
    padding: 10px 0;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.category-scroll::-webkit-scrollbar {
    display: none;
}

.category-button {
    background: none;
    color: var(--primary-color-light);
    font-size: 1rem;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: color 0.3s ease-in-out, font-weight 0.3s ease-in-out;
    font-weight: 600;
}

.category-button:hover  {
    color: var(--primary-color);
    font-weight: bold;
    background-color: white;
    border-radius: 12px;
}

.category-button.active {
    color: var(--primary-color);
    font-weight: bold;
}

@media (max-width: 600px) {
    .category-scroll {
        justify-content: flex-start;
        padding: 10px;
    }

    .category-button {
        font-size: 0.9rem;
        padding: 8px 16px;
    }
}

@-webkit-keyframes fading {
    from {
        opacity: 0;
        scale: 0.9;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}
@-moz-keyframes fading {
    from {
        opacity: 0;
        scale: 0.9;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

@keyframes fading {
    from {
        opacity: 0;
        scale: 0.9;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}