.book_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    padding: 50px 100px;
    gap: 60px 170px;
}

.grid_item {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    aspect-ratio: 6 / 10;
    align-items: flex-start;
    animation: 0.5s ease-out 0s 1 slideInFromLeft;
}

.home-book-title {
    font-size: 1.1rem;
    color: var(--primary-color);
    margin: 15px 0 0;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space:nowrap;
    max-width: 100%;
}

.home-book-author {
    font-size: 1.1rem;
    color: #347d56;
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space:nowrap;
    max-width: 100%;
    margin: 1px 0 0;
}

.home-book-by {
    font-size: 1.1rem;
    color: var(--primary-color);
    font-weight: 500;
    margin: 0 5px 0 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space:nowrap;
    max-width: 100%;
}

.cat-book-cover {
    width: 100%;
    height: 70%;
    position: relative;
    box-shadow: 0 1px 6px var(--primary-color);
}

.cat-book-cover:hover {
    box-shadow: 2px 4px 8px var(--primary-color);
}

.cat-book-cover p {
    background-color: #edcebc;
    width: 100%;
    height: 8%;
    position: absolute;
    bottom: 0;
    margin: 0;
    text-align: center;
    padding: 10px 0 10px 0;
    font-weight: bold;
    font-size: 1rem;
    color: var(--primary-color);
}

.add-cart-button {
    border: 0;
    border-radius: 8px;
    color: white;
    background-color: var(--primary-color);
    padding: 10px;
    width: 100%;
    font-size: 1.1rem;
    font-weight:600;
    margin-top: 12px;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0.5;

    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(200%);
        opacity: 0.5;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}