.divider-selected {
    border-radius: 8px;
    background-color: var(--primary-color);
    width: 15%;
    height: 3px;
}

.divider-none {
    border-radius: 8px;
    width: 0;
    height: 0;
}

.divider-vertical {
    border-radius: 8px;
    background-color: var(--primary-color-light);
    width: 2px;
    height: 50%;
    box-shadow: 0 4px 8px var(--shadow-color);
}

.divider-vertical-small {
    border-radius: 8px;
    background-color: var(--primary-color-light);
    width: 2px;
    height: 30%;
    box-shadow: 0 4px 8px var(--shadow-color);
}

.button-nav {
    color: var(--primary-color);;
    height: 60px;
    width: 120px;
    font-weight: 500;
    background-color: transparent;
    text-align: center;
    border: none;
    font-size: 1.2em;
    text-overflow: ellipsis;
}

.button-nav:hover {
    background-color: var(--background-color);
    border-radius: 12px;
    color:var(--primary-color);;
}

.button-nav:focus {
    background-color: white;
    border-radius: 12px;
    color:var(--primary-color);;
}

.button-nav:focus-within {
    background-color: white;
    border-radius: 12px;
    color:var(--primary-color);;
}

.button-nav:active {
    background-color: white;
    border-radius: 12px;
    color:var(--primary-color);;
}

.button-nav-selected {
    font-weight: bold;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    align-content: flex-start;
}

.container-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
}
