
:root {
    --default-font-size: 1.25rem;
    --default-text-color: #111;
    --neutral-color: #4e4e4e;

    --primary-color: #885265;
    --primary-color-light: #a47175;
    --background-color: #fbf5e6;

    --secondary-color: #edcebc;
    --shadow-color: #edcebc;

    --corner-radius: 10px;

    --footer-height: 45px;
    --header-height: 140px;
}

html, body, #root {
    margin: 0;
    padding: 0;
    height: 100%;
    scroll-behavior: smooth;
}

p {
    margin: 0;
    padding: 0;
}

.main {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}